<footer>
    <div class="container">
        <div class="copy-text" aria-label="Copyright">
            <p>Copyright © 2024, All Right Reserved. Built By Irene Martin Campo</p>
        </div>

    <div class="icon-grid">
        <a href="https://www.facebook.com" aria-label="Facebook" tabindex="11">
            <i class="fab fa-facebook-f"></i> </a>
        <a href="https://www.instagram.com" aria-label="Instagram" tabindex="12">
            <i class="fab fa-instagram"></i> </a>
        <a href="https://twitter.com" aria-label="Twitter" tabindex="13">
            <i class="fab fa-twitter"></i> </a>
        <a href="https://github.com/Irenetitor" aria-label="GitHub" tabindex="14">
            <i class="fab fa-github"></i></a>
    </div>
</footer>