{% extends "layout.html" %}

{% block content %}



<section id="sentence" class="sentences">
    <div class="container">
        <span class="author">“Sip the Goodness, Experience the Fruitfulness!”</span>
    </div>
</section>

<section id="reasons" class="reason">
    <div class="container">
        <h2>~ 4 Reasons to Have Smoothies ~</h2>
        <div class="tab-container">
            <div class="tab" onclick="showTab(1)">Fighting Inflamation</div>
            <div class="tab" onclick="showTab(2)">Heart Health</div>
            <div class="tab" onclick="showTab(3)">High in Protein</div>
            <div class="tab" onclick="showTab(4)">Gut Health</div>
        </div>

        <div class="tab-content" id="tab1">
            <p><strong>Definition:</strong>  inflammation-fighting ingredients like cherries, berries, dark leafy greens and nut butters for a couple of reasons. First, they make these drinks extra flavorful. Second, these foods have been shown to help combat pesky symptoms of chronic inflammation like mental fog, digestive issues and joint stiffness.
                <br> <br>
                <strong>Importance:</strong>  inflammation-fighting ingredients like cherries, berries, dark leafy greens and nut butters for a couple of reasons. First, they make these drinks extra flavorful. Second, these foods have been shown to help combat pesky symptoms of chronic inflammation like mental fog, digestive issues and joint stiffness.
            </p>
        </div>
        <div class="tab-content" id="tab2">
            <p><strong>Definition:</strong> smoothies are perfect for breakfast or a snack on a warm day. Each drink is not only quick and easy to make, but also contains less than 2 grams of saturated fat and 360 grams of sodium per serving, aligning with a heart-healthy eating pattern. Featured ingredients, such as avocados, berries, nuts and yogurt, are packed with nutrients like fiber, antioxidants and probiotics that help support your heart health. <br> <br>
                <strong>Importance:</strong> smoothies are perfect for breakfast or a snack on a warm day. Each drink is not only quick and easy to make, but also contains less than 2 grams of saturated fat and 360 grams of sodium per serving, aligning with a heart-healthy eating pattern. Featured ingredients, such as avocados, berries, nuts and yogurt, are packed with nutrients like fiber, antioxidants and probiotics that help support your heart health.
            </p>
        </div>
        <div class="tab-content" id="tab3">
            <p><strong>Definition:</strong>From berries blended with yogurt to chocolatey protein shakes, each of these recipes has received four- and five-star reviews from EatingWell readers for being “full of flavor”. Plus, they're satisfying and filling with at least 15 grams of protein in every serving..<br> <br>
                <strong>Importance: From berries blended with yogurt to chocolatey protein shakes, each of these recipes has received four- and five-star reviews from EatingWell readers for being “full of flavor”. Plus, they're satisfying and filling with at least 15 grams of protein in every serving..</strong>
            </p>
        </div>
        <div class="tab-content" id="tab4">
            <p><strong>Definition:</strong> Blend prebiotic foods like bananas and raspberries with probiotic-rich ingredients like kefir and Greek yogurt, and you get these delicious, gut-healthy smoothies. Packed with fiber and at least 15 grams of protein per serving, each refreshing recipe helps you feel satisfied for longer. Plus, the protein in these meals also supports muscle recovery and bone health to help you feel your best. <br> <br>
                <strong>Importance:</strong> Blend prebiotic foods like bananas and raspberries with probiotic-rich ingredients like kefir and Greek yogurt, and you get these delicious, gut-healthy smoothies. Packed with fiber and at least 15 grams of protein per serving, each refreshing recipe helps you feel satisfied for longer. Plus, the protein in these meals also supports muscle recovery and bone health to help you feel your best.
            </p>
        </div>

    </div>

</section>

<section id="list-quotes" class="quotes">
    <div class="container">
        <h2>Some Quotes about Smoothies</h2>
        <div class="quote-container">
            <div class="quote">
                    In the realm of health, where wellness is a trip,<br>
                    Come join us on a journey, take a fruit-filled sip.<br>
                    From the orchard's bounty, to the blender's whip,<br>
                    Savor the freshness, let the nutrients equip.

            </div>
            <div class="quote">
                    Berries red as sunrise, apples crisp and bright,<br>
                    Bananas full of energy, to power day and night.<br>
                    Mangoes, melons, pineapples, each a tasty bite,<br>
                    Blend them all together, for a delight quite right.
            </div>
            <div class="quote">
                    So come and explore, let your taste buds flip,<br>
                    In the world of fruity wonders, take a healthy sip!
            </div>
            <div class="quote">
                “A smoothie a day keeps the worries away.” 
            </div>
            <div class="quote">
                “Blend your way to a healthier you.”
            </div>
            <div class="quote">
                “Nourish your body, fuel your soul, one sip at a time.”
                <span class="author">— Unknown</span>
            </div>

        </div>
    </div>


</section>

<section id="list-curiosities" class="curiosities">
    <div class="container">
        <h2>~~ &#8594; For the Most "Inquismoothies" &#8592; ~~</h2>
        <div class="curiosity-container">
            <div class="curiosity">
               <h3> The Largest Smoothie:</h3> Did you know that the largest smoothie ever created was a whopping 1064.61 US gallons (4030 liters)? It was made by Stichting Jaarmarkt from the Netherlands and included ingredients like strawberries, honey, orange juice, bananas, yogurt, sugar, and ice.
            </div>
            <div class="curiosity">
                <h3> Historical Roots:</h3> Smoothies have been around for quite some time. Mediterranean and Eastern cultures were the first to create these delicious pureed fruit drinks. While our modern versions may look different, we owe them credit for inspiring our favorite fruity concoctions.
            </div>
            <div class="curiosity">
                <h3> Global Appeal:</h3> Blending fruits with ice and other ingredients is common in many countries. For example, in Latin America and South America, you’ll find a variety of fruit juice concoctions with exotic fruits. In India, the ancient “lassi” made with yogurt, water or milk, and various seasonings has been enjoyed since around 1000 BC. And don’t forget the Iranian “Sharbat,” popular in South Asia, Caucasus, Turkey, and the Balkans, made from fruit or flower petals and served chilled.
            </div>
            <div class="curiosity">
                <h3> Evolution:</h3> Smoothies have come a long way. From simple fruit, fruit juice, and ice versions in the 1930s to the rise of smoothie bars and pre-bottled options, they’ve become a household favorite. Today, you can find smoothie recipes made with a myriad of ingredients to suit any taste.
        </div>
    </div>


</section>


{% endblock %}